.machine-container {
  display: flex;
  flex-direction: column;
}

.gif-container {
  display: flex;
  flex-direction: column;
}

.gif-grid {
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 16px;
}

.minted-items-container {
	margin-top: 16px;
}