.App {
  min-height: 100vh;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.pickupsticks-gif-container {
	display: flex;
	justify-content: center;
}

.pickupsticks-gif-container img {
	max-width: 200px;
	margin: 24px auto;
}
